[Desktop Entry]
Name=PortProton
Name[ru]=PortProton
Comment=Software for playing Microsoft Windows games and launchers
Comment[ru]=Установка и запуск Windows игр и программ
GenericName=Windows games and program launcher
GenericName[ru]=Средство установки и запуска Windows игр и программ
Categories=Game;Utility;
Type=Application
Exec=portproton %u
Icon=ru.linux_gaming.PortProton
MimeType=application/x-wine-extension-msp;application/x-msi;application/x-ms-dos-executable;text/win-bat;x-scheme-handler/portproton;
StartupNotify=true
Terminal=false
Keywords[ru]=wine;windows;game;
Keywords=wine;windows;game;
